<!DOCTYPE html>
<html>

<head>
  <title>Unwanted Advice</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>Here is some random advice for you:</h1>
  <div>
    <p>
      <%= advice %>
    </p>
  </div>
</body>

</html>